<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCIS Week Admin Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="application/javascript" src="/app.js"></script>
</head>

<body>
    <h1 class="ccis">CCIS Week Admin Dashboard</h1>

    <div class="button-div">
        <label class="label">Student Number:</label>
        <textarea id="studNum" ></textarea>
        <label class="label">Student First Name:</label>
        <label class="label placeholder" id="q-fname">PLACEHOLDER</label>
        <label class="label">Student Last Name:</label>
        <label class="label placeholder" id="q-lname">PLACEHOLDER</label>
        <label class="label">Student House:</label>
        <label class="label placeholder" id="q-house">PLACEHOLDER</label>
        <div id="error-message"></div>
        <button class="buttons" id="query-student">Search</button>

    </div>
    <div>
        <button class="buttons" onclick="window.location.href = '../student.html';">BACK</button>
    </div>
    
</body>
</html>